/* CSS declarations go here */
body {
 margin: 0px;
 padding: 0px;
}

#contribution-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

#amount-remaining {
  margin-right: 20px;
}

.contribution-bar {
  width: 500px;
  border: 1px solid #aaa;
  padding: 0px;
}

#canvas {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 100%;
}

input {
  position: absolute;
  top: 20px;
  z-index: 10;
}

