/* CSS declarations go here */
#canvas {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

input {
  position: absolute;
  top: 20px;
  z-index: 10;
}

circle {
  fill: 'steelblue'
}
